vendor/*
tmp/*
.vscode/*
.idea/*
.DS_Store
.env
.zed/*
spec/*
.phpunit.result.cache
composer.lock
.github/*
!.github/workflows/*
*.xml
docs/.vitepress/dist
docs/.vitepress/cache
node_modules/
benchmark/*.json
