vendor/*
tmp/*
.vscode/*
.idea/*
.DS_Store
.env
.zed/*
spec/*
.phpunit.result.cache
composer.lock
.github/**/*.instructions.md
*.xml
docs/.vitepress/dist
docs/.vitepress/cache
node_modules/
benchmark/
