parameters:
	ignoreErrors:
		-
			message: '#^Variable \$url might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/attribute-context.sugar.php

		-
			message: '#^Variable \$bgColor might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/complex-template.sugar.php

		-
			message: '#^Variable \$config might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/complex-template.sugar.php

		-
			message: '#^Variable \$heading might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/complex-template.sugar.php

		-
			message: '#^Variable \$link might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/complex-template.sugar.php

		-
			message: '#^Variable \$title might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/complex-template.sugar.php

		-
			message: '#^Variable \$color might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/css-context.sugar.php

		-
			message: '#^Variable \$data might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/javascript-context.sugar.php

		-
			message: '#^Variable \$html might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/multiple-contexts.sugar.php

		-
			message: '#^Variable \$html2 might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/multiple-contexts.sugar.php

		-
			message: '#^Variable \$js might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/multiple-contexts.sugar.php

		-
			message: '#^Variable \$name might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/simple-output.sugar.php

		-
			message: '#^Variable \$age might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/user-profile.sugar.php

		-
			message: '#^Variable \$name might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/fixtures/templates/user-profile.sugar.php
